@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
}

@font-face {
  font-family: "FredokaOne-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("FredokaOne Regular"),
    local("FredokaOne-Regular"),
    url("../fonts/FredokaOne-Regular.woff2") format("woff2"),
    url("../fonts/FredokaOne-Regular.woff") format("woff");
}
