/* COLORS */
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$gradient-inverse: linear-gradient(-45deg, #23d5ab, #23a6d5, #e73c7e, #ee7752);

/* DEVICE WIDTH */
$mobile-width: 659px;
$tablet-width: 660px;

/* RETINA */
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* FONTS */
$font-fredoka: "FredokaOne-Regular";
$font-open-sans: "Open Sans";
